<!DOCTYPE html>

<html>
  <head>
    <title>{{ page.title | default: site.title }}</title>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class='header-inner'>
        <div class="logo"></div>
        <h1>{{ page.title | default: site.title }}</h1>
      </div>
    </header>
    <nav class='navigation-bar'>
      <span><a href='#'>Home</a></span>
      <a href='#'>About</a>
      <a href='#'>Blog</a>
      <a href='#'>Projects</a>
    </nav>
    <div class='content'>
      {{ content }}
    </div>
  </body>
</html>
